body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.owner{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;



}
.link-buton{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: azure;
    font-weight: 700;
    padding: 10px 40px;
    width: 10%;
    border-radius: 5px;
}
.top-banner{
    background-image: url(/imgaes/top-banner.png);
    background-repeat: no-repeat;
}
.img{
    padding-left: 0;
    align-content: center;
}
.dream-big{
    background-image: url(/imgaes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}